.h {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.header_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header_container.active {
  opacity: 1;
  z-index: 1;
}

.header_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 0;
}

.couple_section {
  position: relative;
  z-index: 1;
  text-align: center;
  color: #fff;
}

.couple_name {
  font-size: 100px;
  font-weight: bold;
  font-family: "sym";
}

.located {
  font-family: "play";
  font-size: 40px;
  font-weight: 400;
}

/* Responsive */
@media (max-width: 575.98px) {
  .couple_name {
    font-size: 40px;
    margin-top: 50px;
  }
  .located {
    font-size: 20px;
  }
  .header_container {
    height: 100%;
  }

  .h {
    height: 70vh;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .couple_name {
    font-size: 60px;
  }
  .located {
    font-size: 30px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .couple_name {
    font-size: 80px;
  }
  .located {
    font-size: 35px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .couple_name {
    font-size: 90px;
  }
  .located {
    font-size: 38px;
  }
}

@media (min-width: 1200px) {
  .couple_name {
    font-size: 100px;
  }
  .located {
    font-size: 40px;
  }
}
